#mp_subject_section01 .section_title {
    text-align: left;
    font-size: 40px;
    padding-top: 88px;
}

#mp_subject_section01 .section_smallText {
    text-align: left;
    font-size: 20px;
    color: #8d8d8d;
}


.messageBox {
    width: 100%;
    height: 300px;
    border: 1px solid #eddeff;
    border-radius: 8px;
    margin-top: 48px;
    margin-bottom: 120px;
    text-align: center;
}

.messageBox_title {
    font-size: 32px;
    padding-top: 80px;
}

.messageBox_title strong {
    color: #9D4BE7;

}

.message_date {
    font-size: 20px;
    margin-bottom: 32px;
    margin-top: 12px;
}

.messageBox .section_smallText {
    text-align: center !important;
    font-size: 16px;
}